In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

In [4]:
mydata = pd.read_csv('Dataset/Logistic_Reg.csv')
mydata.head()

   Ind_Exp_Act_Score  Tran_Speed_Score  Peer_Comb_Score  Outcome
0                6.2               9.3              7.4        1
1                2.6               2.2              8.7        1
2                9.5               1.5              8.2        1
3                2.6               5.0              0.4        0
4               10.0               7.7              7.2        1

In [11]:
mydata_scaled = MinMaxScaler().fit_transform(mydata)
mydata_scaled=pd.DataFrame(mydata_scaled,columns= mydata.columns)
mydata_scaled.head()

   Ind_Exp_Act_Score  Tran_Speed_Score  Peer_Comb_Score  Outcome
0               0.62              0.93             0.74      1.0
1               0.26              0.22             0.87      1.0
2               0.95              0.15             0.82      1.0
3               0.26              0.50             0.04      0.0
4               1.00              0.77             0.72      1.0

In [15]:
x = mydata_scaled.iloc[:,0:3]
y = mydata_scaled.iloc[:,-1]

In [16]:
mydata_scaled.shape

(980, 4)

In [23]:
x_train, x_test,  y_train,y_test = train_test_split(x, y, test_size = 0.2,random_state = 100)

In [24]:
mymodel = MLPClassifier(hidden_layer_sizes=(2),max_iter= 2000)

In [25]:
mymodel = mymodel.fit(x_train,y_train)

In [27]:
mymodel.score(x_train,y_train)

0.7283163265306123

In [28]:
mymodel = MLPClassifier(hidden_layer_sizes=(2),max_iter= 2000)
mymodel = mymodel.fit(x_train,y_train)
mymodel.score(x_train,y_train)

0.9681122448979592

In [32]:
myparameter_grid = [{'activation':['identity','logistic','tanh','relu'], 'solver' : ['lbfgs','sgd','adam']}]

In [33]:
mysearch = GridSearchCV(mymodel,myparameter_grid,cv=5,scoring = 'accuracy')

In [34]:
mysearch = mysearch.fit(x_train,y_train)

C:\Users\apraj\AppData\Roaming\Python\Python36\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [35]:
mysearch.best_params_

{'activation': 'tanh', 'solver': 'adam'}

In [36]:
mymodel = MLPClassifier(hidden_layer_sizes=(2),max_iter= 2000,activation='tanh',solver='adam')

In [38]:
mymodel.fit(x_train,y_train)
mymodel.score(x_train,y_train)

0.9693877551020408

In [39]:
predTest = mymodel.predict(x_test)

In [40]:
mytable = pd.crosstab(y_test,predTest)

In [41]:
mytable

col_0    0.0  1.0
Outcome
0.0       52    6
1.0        0  138