In [32]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [33]:
mydata = pd.read_csv('Dataset/Mail_Respond.csv')
mydata.head()

   SLNo  District  House_Type  Income  Previous_Customer  Outcome
0     1         1           0       1                  0        0
1     2         1           0       1                  1        0
2     3         2           0       1                  0        1
3     4         0           1       1                  0        1
4     5         0           1       0                  0        1

In [34]:
mydata_new = mydata.iloc[:,1:5]

In [35]:
outcome = mydata.Outcome

In [36]:
mydata_new.columns

Index(['District', 'House_Type', 'Income', 'Previous_Customer'], dtype='object')

In [37]:
mymodel = tree.DecisionTreeClassifier(min_samples_split=10)
mymodel.fit(mydata_new,outcome)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [38]:
score = mymodel.score(mydata_new,outcome)

In [39]:
predicted = mymodel.predict(mydata_new)
predicted

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1], dtype=int64)

In [35]:
mytable = pd.crosstab(outcome,predicted)

In [36]:
mytable

col_0     0   1
Outcome
0        34   0
1         0  66

In [37]:
cross_Tab_score = cross_val_score(mymodel,mydata_new,outcome,cv=4,scoring='accuracy')

In [38]:
cv_accuracy = cross_Tab_score.mean()

In [39]:
cv_accuracy

0.9503205128205128

In [41]:
myparameter_grid = [{'criterion' : ['gini','entropy'], 'min_samples_split' : [6,8,10,12,14]}]
mysearch = GridSearchCV(mymodel,myparameter_grid,cv =5 ,scoring='accuracy')
mysearch = mysearch.fit(mydata_new,outcome)
mysearch.best_params_

{'criterion': 'gini', 'min_samples_split': 6}

In [45]:
mysearch.best_score_

1.0

In [47]:
from sklearn.tree import export_graphviz?

Object `export_graphviz` not found.

In [49]:
import sys
!{sys.executable} -m pip install export_graphviz

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001767928E9B0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',)': /simple/export-graphviz/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001767928E518>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',)': /simple/export-graphviz/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001767928E6D8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',)': /simple/export-graphviz/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001767928E5C0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',)': /simple/export-graphviz/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001767928E4E0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',)': /simple/export-graphviz/
ERROR: Could not find a version that satisfies the requirement export_graphviz (from versions: none)
ERROR: No matching distribution found for export_graphviz
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.


# Excercise 2

In [2]:
bank = pd.read_csv('Dataset/bank-data.csv')
bank.shape

(600, 11)

In [3]:
x = bank.iloc[:,:-1]
x.shape

(600, 10)

In [5]:
y = bank.pep
y.shape

(600,)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, classification_report
import math as m

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =100)

In [21]:
bank_tree = tree.DecisionTreeRegressor(min_samples_split=12)
bank_model = bank_tree.fit(x_train,y_train)
score = bank_tree.score(x_train,y_train)
x_train.head()

,age,sex,region,income,married,children,car,save_act,current_act,mortgage
598,29,0,0,14711.8,1,0,0,1,0,1
154,41,0,1,23356.1,0,2,1,0,0,0
302,45,1,3,29231.4,1,0,0,1,0,0
222,42,1,0,39308.7,1,1,0,1,1,0
589,29,0,2,12623.4,1,1,1,1,1,0

In [22]:
y_train.head()

598    0
154    0
302    0
222    1
589    0
Name: pep, dtype: int64

In [23]:
score

0.8462977599471752

In [28]:
pred = bank_model.predict(x_train)

In [29]:
type(pred)

numpy.ndarray