In [2]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [8]:
mydata = pd.read_csv('Dataset/Iris_data.csv')
x = mydata.iloc[:,:-1]
y = mydata.Species

In [4]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.4          3.9           1.7          0.4

In [9]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Species, dtype: int64

In [10]:
myModel = KNeighborsClassifier(n_neighbors=5)
myModel.fit(x,y)
myModel.score(x,y)

0.9824561403508771

In [11]:
myparameter_grid = [{'n_neighbors' : [3,4,5,6,7]}]
mysearch = GridSearchCV(myModel,myparameter_grid,cv=5,scoring='accuracy')
mysearch = mysearch.fit(x,y)
mysearch.best_params_

{'n_neighbors': 3}

In [56]:
myModel = KNeighborsClassifier(n_neighbors=5)
myModel.fit(x,y)
score = myModel.score(x,y)
pred = myModel.predict(x)
myTable = pd.crosstab(y,pred)

In [57]:
myTable

col_0     1   2   3
Species
1        37   0   0
2         0  34   1
3         0   1  41

In [58]:
score

0.9824561403508771

In [59]:
test_df = pd.read_csv('Dataset/Iris_test.csv')
x_test = test_df.iloc[:,:-1]
y_test = test_df.iloc[:,-1]

In [60]:
pred_test = myModel.predict(x_test)

In [61]:
score_test = myModel.score(x_test,y_test)
score_test

0.9444444444444444

In [23]:
test_table = pd.crosstab(y_test,pred_test)

In [24]:
test_table

col_0     1   2  3
Species
1        13   0  0
2         0  13  2
3         0   0  8